* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #333;
    color: white;
}

.header-content {
    padding: 1.5rem;
    font-size: 1.2rem;
}


nav {
    background-color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 300px;
}

.main-content {
    background-color: #d9d9d9;
    padding: 1rem;
}


.aside-content {
    background-color: white;
    padding: 1rem;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
}