@media (min-width: 768px) {

    #menuButton {
        display: none;
    }

    #navMenu {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
