@media (min-width: 768px) {

  
    nav ul {
        display: flex !important;
        justify-content: center;
        gap: 2rem;
        flex-direction: row;
    }

    #menuButton {
        display: none;
    }

 
    #templeCards {
        grid-template-columns: repeat(3, 1fr);
    }

   
    section {
        transition: transform 0.3s ease;
    }

    section:hover {
        transform: scale(1.03);
    }

    main {
        max-width: 1100px;
        margin: 0 auto;
    }
}
