@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .hero {
        grid-column: 1 / -1;
    }

    
    .hero img {
        max-width: 1200px;
        margin: 0 auto;
        display: block;
    }

    
    section {
        background-color: var(--light-color);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    
    .weather h2::after {
        content: " ⛅";
        font-size: 1.5rem;
    }

    
    .weather-icon {
        display: none;
    }
}
